<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
</head>
<body>
    <h1>政策计算器</h1>
    <form action="post">
        <label>计算参数</label>
        <select name="isSingle">
            <option value="1" >单一商品</option>
            <option value="0" >多个商品</option>
        </select>
        <span id="pd_amount"><lable>数量</lable><input type="text" size="1"></span>
        <br>
        <label>商品规格：1*</label><input type="text" size="1"><br>

    </form>
    <script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
</body>
</html>